
{% block other %}



    <center>
        <div class="view overlay">


            <!-- Card image -->
            <img class="card-img-top  w-75 p-3 h-10 d-inline-block align-content-lg-center"  src="{{ Product.displayPhoto  }}" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body elegant-color white-text rounded-bottom w-50 p-3 h-10 d-inline-block align-content-md-center" >

            <!-- Social shares button -->
            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
            <!-- Title -->
            <h2 class="card-title">{{ Product.getProductname }}</h2>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4"><h4>{{ Product.getProductdescription }}</h4></p>
            <!-- Link -->
            <p class="card-text white-text mb-4">{{ Product.getProductcatid }}</p>
        </div>
        <div class="product_price ">
            <div class="product_price"><p>{{ Product.getPrice }} TND</p>  </div>
            <div class="product_price"><p> {{ Product.getStock }} </p>  </div>
        </div>

        <div >

            <a href="{{path('deal_pdf',{'productid':Product.getProductid})}}" class="white-text d-flex justify-content-end"> Download <i class="fas fa-angle-double-right"></i></a>

        </div>

    </center>






{%  endblock %}

