{% extends "base.html.twig" %}
{% block header %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Chick Click!</div>
                <div class="intro-heading text-uppercase">Reports center</div>
            </div>
        </div>
    </header>

{% endblock %}
{% block aya %}
    <h3>  {{ quote }}  </h3>
    {#{{ include('@Ticket/HomeTickets/reade.html.twig') }}#}

    {{ form_start(form) }}
    Type of the category : {{ form_widget(form.typeR) }}</br>
    Content of the category: {{ form_widget(form.content) }}</br>

    <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end(form) }}

    <p>Today: {{ 'now'|date('Y-m-d') }}</p>
{% endblock %}